[submodule "3-CoinFlip/lib/forge-std"]
	path = 3-CoinFlip/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "4-Telephone/lib/forge-std"]
	path = 4-Telephone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "7-Force/lib/forge-std"]
	path = 7-Force/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "9-King/lib/forge-std"]
	path = 9-King/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "10-Reentrancy/lib/forge-std"]
	path = 10-Reentrancy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "11-Elevator/lib/forge-std"]
	path = 11-Elevator/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "13-GatekeeperOne/lib/forge-std"]
	path = 13-GatekeeperOne/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "14-GatekeeperTwo/lib/forge-std"]
	path = 14-GatekeeperTwo/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "16-Preservation/lib/forge-std"]
	path = 16-Preservation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "18-MagicNumber/lib/forge-std"]
	path = 18-MagicNumber/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "19-AlienCodex/lib/forge-std"]
	path = 19-AlienCodex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "20-Denial/lib/forge-std"]
	path = 20-Denial/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "21-Shop/lib/forge-std"]
	path = 21-Shop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "23-DexTwo/lib/forge-std"]
	path = 23-DexTwo/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "23-DexTwo/lib/openzeppelin-contracts"]
	path = 23-DexTwo/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "24-PuzzleWallet/lib/forge-std"]
	path = 24-PuzzleWallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
